@font-face {
  font-family: 'font';
  src:  url('font.eot?s1lvzi');
  src:  url('font.eot?s1lvzi#iefix') format('embedded-opentype'),
    url('font.font.ttf?s1lvzi') format('truetype'),
    url('font.woff?s1lvzi') format('woff'),
    url('font.svg?s1lvzi#font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-credit:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e901";
}

